<body>
  <h1 class="hometile">Junk Mail is a Problem in the UK</h1>
  <p>NEARLY ALL UK HOUSEHOLDS RECEIVE POST (AND JUNK MAIL) THROUGH THE DOOR. THE LETTERBOX CONSTANTLY CLANGS WITH THE ARRIVAL OF USELESS AND WASTEFUL PAPER THAT FILLS OUR HOMES.</p>

  <h1 class="hometile">The (Only Available) Answer...?</h1>

  <p>PUT A MEAN SIGN ON YOUR LETTERBOX, THE TYPE COMMONLY RESERVED FOR THE ELDERLY, AND OPENLY UPTIGHT.</p>

  <h1 class="hometile">The Opportunity</h1>
  <p>COMBAT THIS PROBLEM THROUGH HUMOUR, ADDING JOY TO ONE’S HOME AND THE NEIGHBOURHOOD, AND STARTING A MOVEMENT TO RID THE WORLD OF JUNK MAIL FOR GOOD.</p>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= link_to(image_tag("sauim-de-coleira.jpg",  :href => "google.com", alt: "First Slide", class: "d-block w-100", width: 1200, height: 500), home_products_path) %>
      </div>

      <div class="item">
        <%= link_to(image_tag("tarsier.jpg",  alt: "First Slide", class: "d-block w-100", width: 1200, height: 500), home_products_path) %>
      </div>

      <div class="item">
        <%= link_to(image_tag("shutterstock.jpg",  alt: "First Slide", class: "d-block w-100",width: 1200, height: 500),home_products_path) %>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</body>
