<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>

<!-- if there are no items in cart
 return nothing
else
  return subtotal and proceed to Checkout
end  -->

<div class = "shopping-cart-total">
  <%= render "total" %>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
