<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>

<!-- if there are no items in cart
 return nothing
else
  return subtotal and proceed to Checkout
end  -->

<div class = "row">
  <div class = "col-sm">
    <h4 class="text-right"> Subtotal: <span style="color: purple"><%= number_to_currency current_order.subtotal %></span></h4>
  </div>
  <div class = "col-sm">
    <button type="button" class="btn btn-success pull-right">Proceed to Checkout</button>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
