<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You've got feedback!</h1>
    <p>
      You recieved the following feedback today:
      <br>
      Name: <%=@name %>
      <br>
      Email: <%=@email %>
      <br>
      Message: <%=@message %>
    </p>
  </body>
</html>
