<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://js.stripe.com/v2/"></script> 
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
		<img class="spi-header" src="" >
        <hr/>
        <h1>Where shall we ship your stickers?</h1>
        <hr/>
        <hr/>
        <h2 class="bg-success">Today's Total: <%= number_to_currency current_order.subtotal%></h2>

        <div class="form-group col-md-12 bg-primary">
            <label class="control-label" for="billinginformation">Shipping Information</label>
        </div>

        <div class="shipping-info">
            <div class="form-group col-md-6">
              <span class="required-lbl">* </span><label class="control-label" for="firstname">First Name</label>
              <div class="controls">
                <input id="firstname" name="firstname" type="text" placeholder="" class="form-control" required="">
              </div>
            </div>

            <div class="form-group col-md-6">
              <span class="required-lbl">* </span><label class="control-label" for="lastname">Last Name</label>
              <div class="controls">
                <input id="lastname" name="lastname" type="text" placeholder="" class="form-control" required="">
              </div>
            </div>

            <div class="form-group col-md-6">
              <span class="required-lbl">* </span><label class="control-label" for="shippingaddress1">Shipping Address 1</label>
              <div class="controls">
                <input id="shippingaddress1" name="shippingaddress1" type="text" placeholder="" class="form-control" required="">
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="control-label" for="shippingaddress2">Shipping Address 2</label>
              <div class="controls">
                <input id="shippingaddress2" name="shippingaddress2" type="text" placeholder="" class="form-control" required="">
              </div>
            </div>

            <div class="form-group col-md-6">
              <span class="required-lbl">* </span><label class="control-label" for="shippingcountry">Shipping Country</label>
              <div class="controls">
                 <div class="controls">
                    <select id="shippingcountry" name="shippingcountry" class="input-xlarge">
                      <option>Please Select</option>
                      <option>England</option>
                    </select>
                  </div>
              </div>
            </div>

             <div class="form-group col-md-6">
              <span class="required-lbl">* </span><label class="control-label" for="shippingstate">Shipping County</label>
              <div class="controls">
                <select id="shippingstate" name="shippingstate" class="input-xlarge">
                  <option>Please Select</option>
                  <option>Bedfordshire</option>
                  <option>Berkshire</option>
                  <option>Bristol</option>
                  <option>Buckinghamshire</option>
                  <option>Cambridgeshire</option>
                  <option>Cheshire</option>
                  <option>Cornwall</option>
                  <option>County Durham</option>
                  <option>Cumberland</option>
                  <option>Derbyshire</option>
                  <option>Devon</option>
                  <option>Dorset</option>
                  <option>Essex</option>
                  <option>Gloucestershire</option>
                  <option>Hampshire</option>
                  <option>Herefordshire </option>
                  <option>Hertfordshire</option>
                  <option>Huntingdonshire</option>
                  <option>Kent</option>
                  <option>Lancashire</option>
                  <option>Leicestershire</option>
                  <option>Lincolnshire</option>
                  <option>Middlesex</option>
                  <option>Norfolk</option>
                  <option>Northamptonshire</option>
                  <option>Northumberland</option>
                  <option>Nottinghamshire</option>
                  <option>Oxfordshire</option>
                  <option>Rutland</option>
                  <option>Shropshire</option>
                  <option>Somerset</option>
                  <option>Staffordshire</option>
                  <option>Suffolk</option>
                  <option>Surrey</option>
                  <option>Sussex</option>
                  <option>Warwickshire</option>
                  <option>Westmorland</option>
                  <option>Wiltshire</option>
                  <option>Worcestershire</option>
                  <option>Yorkshire</option>

                </select>
              </div>
            </div>

            <div class="form-group col-md-6">
              <span class="required-lbl">* </span><label class="control-label" for="shippingcity">Shipping City</label>
              <div class="controls">
                <input id="shippingcity" name="shippingcity" type="text" placeholder="" class="form-control" required="">
              </div>
            </div>

            <div class="form-group col-md-6">
              <span class="required-lbl">* </span><label class="control-label" for="postcode">Post Code</label>
              <div class="controls">
                <input id="postcode" name="postcode" type="text" placeholder="" class="form-control" required="">
              </div>
            </div>

            <hr/>


            </div>


            <div class="form-group col-md-12 bg-primary">
                <label class="control-label" for="contactinformation">Contact Information:</label>
            </div>

            <div class="form-group col-md-6">
              <span class="required-lbl">* </span><label class="control-label" for="emailaddress">Email Address</label>
              <div class="controls">
                <input id="email" name="email" type="email" placeholder="" class="form-control" required="">
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="control-label" for="phone">Phone</label>
              <div class="controls">
                <input id="phone" name="phone" type="number" placeholder="" class="form-control" required="">
              </div>
            </div>


            <div class="form-group col-md-12">
                <div class="control-group">
                  <label class="control-label" for="iaccept"></label>
                  <div class="controls">
                    <label class="checkbox" for="iaccept-0">
                      <input type="checkbox" name="iaccept" id="iaccept-0" value="I accept the Teams and conditions">
                      I accept the <a href="">Teams and conditions</a>
                    </label>
                  </div>
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="control-group confirm-btn">
                  <label class="control-label" for="placeorderbtn"></label>
                  <div class="controls">
                    <%= link_to '<button type="button" class="btn btn-primary pull-right">Proceed to Payment</button>'.html_safe, order_create_path%>

                    <!-- NEED TO PUT CONNECTION HERE -->
                  </div>
                </div>
            </div>

        </div>
	</div>
</div>
